body {
    background-color: rgba(0, 0, 0, 0.884);
    display: flex;
    box-sizing: border-box;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#month {
    height: auto;
    width: 70%;
    background-color: rgb(10, 64, 66);
    color: rgb(231, 213, 188);
    border: 2px solid aqua;
    margin: 10px;
    padding: 20px;
    margin-left: 15vw;
}
nav{
    height: 200px;
    background-color: rgb(10, 64, 66);
    color: rgb(231, 213, 188);
    border: 2px solid aqua;
    margin: 10px;
    padding: 20px;
    position: sticky;
    top:18px;
    width: 160px;
}
nav a{
    padding: 10px;
}
#center {
    text-align: center;
}
.week {
    margin-left: 10px;
}

#week_date{
    margin-left: 50px;
}

#week_data {
    margin-left: 80px;
    height: auto;
    width: auto;
}

a {
    color: aqua;

}

a:hover{
    color: rgb(40, 199, 199);
}
